.responsive-icon { 
    font-family: 'Material Icons'; 
    font-size: inherit; 
    line-height: 1; 
    vertical-align: middle; 
    transform: translateY(-0.1em); 
    display: inline-block; 
}        

body { 
    animation: fadeInAnimation ease-in 150ms; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { opacity: 0; } 
    100% { opacity: 1; } 
} 

/* hanya muncul kalau bukan export */
.sortable-ghost {
    opacity: 0.4;
    border: 2px dashed black;
}

section[visual-editor]:hover {
    border: 2px dashed black; 
    cursor: grab;
}

section[visual-editor] {
    border: 2px solid transparent; 
}

.content-area {
    min-height: 50px; /* Visual cue for empty drop zones */
}
