
.sortable-ghost {
    opacity: 0.4 !important;
    border: 2px dashed black !important;
}

section[visual-editor]:hover {
    border: 2px dashed black !important; 
    cursor: grab !important;
}

section[visual-editor] {
    border: 2px solid transparent !important;
}

.content-area {
    min-height: 50px !important;
}
